<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<!-- CSS only -->
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper.js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="icon" href="spring_leaf_plant_nature_leaves_garden_environment_icon_133309.ico">
    <!--    <meta http-equiv="refresh" content="1">-->
    <title>Title</title>
</head>
<body>
<div id="div_refresh">
    <form name="codeForm" id="codeForm" th:action="@{/code}" method="post">
        <input type="text" name="codeInt" id="codeInt" th:value="*{data1}">
        <!--                                         <input type="submit" value="Отправить">&ndash;&gt;-->
    </form>
</div>

<script>
    // let URL = "divRefresh.html"
    $(document).ready(function () {
        $( '#codeForm' ).load("/divRefresh.html");
        setInterval(function () {
            $( '#div_refresh' ).load("/divRefresh.html");
        }, 1000)
    })
</script>
</body>
</html>